*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: white;

}
h1, h4{
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    text-transform: capitalize;
}
h2{
    font-size: 25px;
    font-family: monospace;
    color: gray;
    text-transform: capitalize;
}
h3{
    font-size: 27px;
    color: black;
    text-transform: uppercase;
}
a > p{
    text-decoration: underline;
    color: orangered;
    display: block;
    text-transform: uppercase;
}
h5{
    font-size: 22px;
}
h4{
    color: black;
}
nav a{
    float: right;
    margin-left: 30px;
    text-align: left;
    padding: 0 20px;
    z-index: 5;
}
.text{
    color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    margin-left: 10%;
    line-height: 25px;
}
nav{
    background-color: black;
    padding: 7px;
    position: fixed;
    width: 100%;
}
nav a{
    color: white;
}
h1{
    animation: move 3s;
    position: relative;
}
h5{
    animation: move 5s;
    position: relative;
}
@keyframes move{
    from{
        right: 100vw;
    }
    to{
        right: 0;
    }
}
section#text{
    position: relative;
    top: 100px;
    color: white;
    font-size: 22px;
}
#welcome-section{
    text-align: center;
    background-color: black;
    height: 300px;
    line-height: 50px;
    width: 100%;
}
a{
    font-size: 22px;
    cursor: pointer;
}
p{
    font-size: 20px;
    font-weight: bold;
}
a:link{
    color: white;
}
a:hover{
    color: orangered;
}
a:visited{
    color: white;
}
.project-tile{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#projects{
    margin-top: 20px; 
}
#links{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
}
#links p{
    color: white;
}
img{
    max-width: 100%;
    width: 30%;
    margin-top: 10px;
}
@media (min-width: 601px) and (max-width: 1024px){
    #projects{
        text-align: center;
    }
    img{
        width: 40%;
    }
    #links{
        flex-direction: column;
        text-align: center;
    }
}
@media (min-width: 400px) and (max-width: 600px){
    #links{
        flex-direction: column;
        align-items: center;
    }
    #welcome-section{
        height: 350px;
    }
    img{
        width: 50%;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    nav a{
        margin-left: 0;
        font-size: 20px;
    }
    .text{
        display: block;
        width: 50%;
        margin-left: 6%;
    }
    .txt{
        color: black;
        font-size: 18px;
    }
    h3{
        font-size: 22px;
    }
    a > p{
        font-size: 20px;
    }
}
@media (min-width: 300px) and (max-width: 399px){
    #links{
        flex-direction: column;
        align-items: center;
    }    
    #welcome-section{
        height: 400px;
    }
    .text{
        display: block;
        width: 50%;
        margin-left: 5%;
    }
    a > p{
        font-size: 17px;
    } 
    .txt{
        color: black;
        font-size: 15px;
    }
    h3{
        font-size: 20px;
    }
    img{
        width: 50%;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    nav a{
        margin-left: 0;
        font-size: 20px;
    }
}
