body
{
    background-image: url("BG.svg");
}
.LOGO
{
    margin-top: 35px;
    margin-left: 15px;
}
.head{
    display: flex;
}
nav
{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;  
    margin-left: 47%;
    margin-top: 20px;
}
nav .logo
{
    flex: 1;
    color: rgb(2, 37, 18);
    margin-left: 50px;
}
nav ul
{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
nav ul li
{
    list-style-type: none;
}
nav ul li a
{
    padding: 10px 20px;
    text-decoration: none;
    color: hsl(230, 29%, 20%);
    font-weight: 700;
}
nav .menu
{
    font-size: 2.5em;
    display: none;
}
h1
{
    color: hsl(230, 29%, 20%);
}
h2
{
    color: hsl(230, 11%, 40%);
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
p
{
    color: hsl(230, 11%, 40%);
}
object
{
    margin-left: 50%;
    margin-top: 30px;
}
.container
{
    display: flex;
    margin-top: 50px;
}
img
{
    width: 50%;
}
.text
{
    margin: auto;
    color: hsl(231, 7%, 65%);
}
button[type=button]
{
    background-color: hsl(0, 100%, 68%);
    border: none;
    border-radius: 8px;
    color: hsl(207, 33%, 95%);
    padding: 15px;
}
button[type=menu]
{
    background-color: hsl(230, 29%, 20%);
    border: none;
    border-radius: 20px;
    color: hsl(207, 33%, 95%);
    padding: 8px;
}
input[type=checkbox]
{
    display: none;
}
button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: hsl(231, 7%, 65%);
}

@media (min-width: 777px) and (max-width: 1024px)
{
    input[type=checkbox]{
        display: none;
    }
    nav ul{
        position: fixed;
        top: 100px;
        right: -100%;
        width: 50%;
        background: whitesmoke;
        height: calc(100vh - 100px);
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    nav .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked~ul{
        right: 0;
        margin-bottom: 100px;
    }
    .LOGO{
        margin-top: 35px;
        margin-left: 15px;
    }
}
@media (min-width: 481px) and (max-width: 776px){
    .container{
        flex-direction: column-reverse;
    }
    img{
        width: 70%;
        align-self: center;
    }
    .text{
        margin-top: 50px;
        text-align: center;
    nav{
        margin-left: 30%;
    }
    input[type=checkbox]{
        display: none;
    }
    nav ul{
        position: fixed;
        top: 100px;
        right: -100%;
        width: 50%;
        background: whitesmoke;
        height: calc(100vh - 100px);
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    nav .menu{
        display: block;
        width: 100px;
        float: right;
        text-align: center;
        margin-right: -30%;
    }
    #chk1:checked~ul{
        right: 0;
        margin-bottom: 00px;
    }
}
@media (min-width: 300px) and (max-device-width: 480px) {
    .container{
        flex-direction: column-reverse;
        width: 100%;  
        margin: 0 auto;
    }
    .text{
        margin-top: 50px;
        text-align: center;
    }
    .LOGO{
        margin-top: 35px;
        margin-left: 15px;
    }
    button{
        text-align: center;
        margin-right: 15px;
    }
    img{
        width: 100%;
        margin-top: 40px;
        align-items: center;
    }
    nav.logo{
        margin-left: 10px;
    }
    nav.ul{
        width: 100%;
    }
    input[type=checkbox]{
        display: none;
    }
    input[type=checkbox]{
        display: none;
    }
    nav ul{
        position: fixed;
        top: 100px;
        right: -100%;
        width: 50%;
        background: whitesmoke;
        height: calc(100vh - 100px);
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    nav .menu{
        display: block;
        width: 100px;
        text-align: center;
        margin-top: 12px;
    }
    #chk1:checked~ul{
        right: 0;
        margin-bottom: 100px;
    }
}
