body
{
    text-align: center;
    margin-top: 7%;
    background-color: burlywood;
}
h1
{
    font-size: 40px;
}
.button
{
    margin-top: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 100px;
    font-size: 50px;
    cursor: pointer;
}
.calculator
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#button1
{    
    background-color: red;
    width: 210px;
}
#button
{
    background-color: green;
}
.textview
{
    width: 420px;
    margin: 5px;
    margin-right: 30px;
    padding: 5px;
    font-size: 25px;
}
footer
{
    margin-top: 30%;
}
@media (max-width: 1200px){
    footer{
        visibility: hidden;
    }
}
@media (min-width: 999px) and (max-width: 1300px)
{
    footer
    {
        visibility: hidden;
    }
    .calculator{
        margin: 0;
    }
}
@media (max-width: 600px) and (max-width: 998px){
    .calculator{
        margin-left: -5%;
        width: 80%;
        padding: 0;
    }
    h1{
        text-align: center;
    }
    footer{
        visibility: hidden;
    }
}
@media (min-width: 480px) and (max-width: 599px)
{
    h1{
        text-align: center;
    }
    .calculator{
        align-items: center
        ;
    }
    .button
    {
        width: 70px;
    }
    #button1
    {
        width: 160px;
    }
    .textview
    {
        width: 320px;
    }
    footer
    {
        visibility: hidden;
    }
}