body
{
    background: #918E9B;
    text-align: center;
}
#inputs
{
    margin-top: 13%;
}
button
{
    border: none;
    border-radius: 15px;
    background: #F55A5A;
    padding: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h1
{
    color: #F55A5A;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}
label
{
    color: white;
    font-weight: 700;
    font-size: 30px;
}
input
{
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: green;
}
#result
{
    font-size: 20px;
    font-weight: bold;
}
span[id=category]
{
    color: red;
    font-size: 20px;
    font-weight: bolder;
}
@media only screen and (max-width: 480px)
{
    #inputs
    {
        margin-top: 130px;
    }
    h1
    {
        text-align: center;
    }
}
