h1{
    font-size: 200px;
    margin: 0;
    font-weight: 800;
    letter-spacing: 20px;
    color: #F55A5A;
}
h2, p{
    background-color: black;
    border-radius: 3px;
    font-weight: 700;
    display: inline-block;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("bk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.contain{
    width: 100%;
    color: #918E9B;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
}
.contain p{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
button{
    border: none;
    background: #F55A5A;
    border-radius: 8px;
    width: 200px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}
@media only screen and (max-width: 1024px){
    body{
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 150px;
    }
    h2{
        font-size: 18px;
    }
    .contain p{
        font-size: 15px;
    }
}
