body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    padding: 1px 2px;
    justify-content: space-evenly;
    margin-left: 75%;
}
li{
    list-style-type: none;
}
img{
    height: 15px;
    margin-top: 20px;
}
#nav-ul{
    display: flex;

}
#nav-ul a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
}
#nav-ul a:hover{
    text-decoration: underline;
}
h2{
    font-size: 80px;
    text-align: center;
    margin-bottom: 1px;
}
input{
    width: 40%;
    border-radius: 27px;
    border: 1px solid #EFF0F2;
    padding: 9px 5px;
    margin-left: 30%;
    background-image: url('search-solid.svg');
    background-repeat: no-repeat;
    background: transparent;
    height: 30px;
    font-size: 16px;
}
input:hover{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
}
div#langs{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    position: relative;
    left: 35%;
}    
#langs a{
    color: blueviolet;
    text-decoration: none;
}
div.box{
    display: flex;
    margin-top: 30px;
}
button#two{
    width: 150px;
    padding: 7px;
    text-transform: capitalize;
    background-color: #F8F9FA;
    text-align: center;
    border: none;
    cursor: pointer;
    left: 45%;
    position: relative;

}
button#one{
    text-transform: capitalize;
    background-color: #F8F9FA;
    border: none;
    width: 110px;
    padding: 7px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: 40%;
}
a{
    text-transform: capitalize;
}
section.one, section.two{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    font-size: 14px;
    padding: 0 5px;
}
section.one{
    border-bottom: 0.5px solid #E6E7E9;
    margin-top: 11.7%;
    color: gray;
}
section.one p{
    margin-left: 15px;
}
#sec1, #sec2{
    display: flex;
}
#sec1 a, #sec2 a{
    margin-left: 15px;
}
section a{
    text-decoration: none;
    color: gray;
}
@media (min-width: 586px) and (max-width: 1000px){
    
    #nav-ul{
        display: none;
    }
    img{
        display: none;
    }
    h2{
        font-size: 60px;
        margin-top: 70px;
    }
    button#one{
        left: 23%;
        height: 30px;
    }
    button#two{
        left: 40%;
    }
    section.one{
        font-size: 10px;
        margin-top: 50px;
    }
    section.two{
        flex-direction: column;
        margin: 0;
        font-size: 10px;
    }
    p.a{
        margin-left: 15px;
    }
    #sec1 a, #sec2 a{
        text-align: center;
    }
    div#langs{
        left: 25%;
        font-size: 10px;
        max-width: 100%;
        width: 400px;
    }
    div#langs a{
        margin-left: 5px;
    }
}
@media (max-width: 585px){
    h2{
        font-size: 60px;
        margin-top: 65px;
    }
    input{
        max-width: 100%;
        width: 80%;
        margin-left: 10%;
    }
    div.box{
        display: none;
    }
    section.one{
        font-size: 10px;
        margin-top: 30%;
    }
    section.two{
        flex-direction: column;
        margin: 0;
        font-size: 10px;
    }
    p.a{
        margin-left: 15px;
    }
    #sec1 a, #sec2 a{
        text-align: center;
    }
    div#langs{
        left: 0%;
        font-size: 10px;
        max-width: 100%;
        width: 400px;
        margin-top: 10%;
    }
    div#langs a{
        margin-left: 5px;
    }
    #nav-ul{
        display: none;
    }
    img{
        display: none;
    }
    
}